body {
    background-color: #ffd384;
    font-size: 60%;
    margin: 0;
    -webkit-appearance: none;

}

h1, h3 {
    color: white;
    background-color: #ffab73;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

button {
    outline: none;
	color: #ffab73;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: white;
	height: 100%;
	letter-spacing: 1px;
}

button:hover {
	background-color: #ffab73;
	color: white;
}

.square {
    width: 30%;
    background-color: black;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
}

.selected {
    -webkit-appearance: none;
    outline: none;
    background-color: #ffab73;
    color: white;
}

.square {
    border-radius: 20%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

#message {
    text-transform: uppercase;
    color: #232323;
    font-size: 1.5em;
    width: 20%;
}